.idea/
src/**/*.js
# LaTeX compile outputs
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.log
*.out
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb
*.dvi
*.pdf
*.ps
*.lof
*.lot
*.lol
*.ist
*.glo
*.gls
*.glg
*.glsdefs
*.acn
*.acr
*.alg
*.idx
*.ilg
*.ind
*.maf
*.mtc
*.mtc0
*.mtc1
*.mtc2
*.mtc3
*.mtc4
*.mtc5
*.mtc6
*.mtc7
*.mtc8
*.mtc9
*.out.ps
*.out.pdf
*.synctex
*.synctex(busy)
*.synctex.gz(busy)
*.xdv